body {
  background-image: url("https://thumbs.dreamstime.com/z/mexican-background-copyspace-sombrero-traditional-serape-blanket-laid-yellow-painted-pine-wood-floor-space-copy-51423337.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
